.wrapper{
    width: 100%;
    display: flex;
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);   
    justify-content: center;


.inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 1150px;
}

.titleAccount{
    padding-left: 5px;
    color: rgba(22, 24, 35, 0.5);
}

.search, 
.search-result{
    width: 361px;
}

.search{
    position: relative;
    display: flex;
    background-color: #f1f1f2;
    height: 46px;
    border-radius: 92px;
    border: 1.5px solid transparent;

    input{
        flex: 1;
        margin-left: 14px;
        background-color: transparent;
        font-size: 1.4rem; 
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search_btn {
        color: var(--black);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    } 

    &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: 52px;
        width: 1px;
        height: 28px;
        background-color: rgba(22, 24, 35, 0.12);
    }
}

.search-result{
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.close, 
.loading{
    position: absolute;
    right: 60px;
    top: 15px;
    color: rgba(22, 24, 35, 0.34);
    &:hover{
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}


.search_btn{
    width: 54px;
    font-size: 1.3rem;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    color: #4c4e57;

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
}
